/*--------------------BODY CSS--------------------*/

h1 {
	margin-top: 50px;
	text-align: center;
	font-weight: bold;
	color: #CC5500;
	font-family: "Lucida Console";
}
h2 {
	color: yellow;
	margin-top: 100px;
}
body {

	background-image: url('http://www.digitaljournal.com/img/8/4/3/0/8/3/i/2/1/6/o/site-8.JPG');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
	margin-top: 70px;

}

/*--------------------NAV CSS--------------------*/


.navbar {
	background-color:rgba(0, 0, 0, 0.7);
}

ul.nav {
	margin: 0px;
	padding: 10px;
}

ul.nav a {
	margin: 0px 10px 0px 10px;
}










/*.footer {
  padding: 20px;
  padding-bottom: 50px;
}
.footer-content {
	  padding: 20px;
	  padding-bottom: 50px;
}*/